######################################################################
#
# Analysis parameters
#
#   If not defined, default values are going to be used in the pipeline.
#

##########
# parameters for bam2fastq
[bam2fastq]
qsub_option = "-l ljob,s_vmem=1G,mem_req=1G"

##########
# parameters for star alignment 
[star_align]
qsub_option = "-l ljob,s_vmem=32G,mem_req=32G"
star_params = "--outSAMstrandField intronMotif --outSAMunmapped --outFilterIntronMotifs RemoveNoncanonicalUnannotated --outReadsUnmapped None --chimSegmentMin 15 --chimJunctionOverhangMin 15 --alignMatesGapMax 200000 --alignIntronMax 200000"

##########
# parameters for fusionfusion
[fusionfusion]
qsub_option = "-l ljob,s_vmem=2G,mem_req=2G"
param_file = "/home/w3varann/tools/GenomonSV/yaml/param.yaml"

